.containerCountries {
    display: flex;
    justify-content: center;
    gap: 1em;

    margin-bottom: 2.5em;
}

.teste {
    flex: 1;
}

.containerCountries button {
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.containerCountries button:hover {
    transform: scale(1.1);
}

.containerCountries button:active {
    transform: scale(1);
}
